
  footer {
    padding: 20px;
    text-align: center;
    color: #ffffff69;
    font-family: sans-serif;
    backdrop-filter: blur(0.75em);
  }
  footer span{color: aliceblue;}
  @supports ( backdrop-filter: blur(1rem)){
    .footer{
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }
  .header-desti li{
    cursor: pointer;
  }

#button-contact{
  cursor: pointer;
  
} 

  @media (max-width: 768px) {
    footer {
      margin-top: 50px;
      font-size: 14px;
    }
 
    .contact-center{
      font-size: small;
      margin-top: 10px;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    footer {
      font-size: 16px;
      margin-top: 30px;
    }
  }

  @media (min-width: 992px) {
    footer {
      font-size: 18px;
      margin-top: 100px;

    }
  }


  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #contactPopup {
    display:none ;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.295);
    padding: 20px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
  }
  
  label {
    margin-top: 25px;
    color: rgb(255, 255, 255);
  }
  
  
  button[type="submit"]:hover {
    background-color: #1a2353cb;
    color: white;
    transition: all .40s ;
  }
  

  


  @media (max-width: 768px) {
    #contactPopup {
      display:none ;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 26, 0.884);
      padding: 20px;
      width: 90%;
      height: 90%;
      z-index: 1000;
      
    }
    input, textarea {
      color: aliceblue;
      padding: 5px;
      margin-top: 5px;
      background-color: rgba(0, 59, 136, 0.24);
      border-bottom: solid 1px wheat;
      border-radius: 5px 5px 0px 0px;
      height: 30px;
    }
    textarea{
      height: 30px;
    }
    button[type="submit"] {
      background-color: #000000f3;
      padding: 8px 20px;
      border-bottom: solid 1px wheat;
      border-radius: 5px 5px 0px 0px;
      margin-top: 35px;
      
    }

  
#button-contact{
    position: fixed;
      left: 89%;
      top: 92%;
      z-index: 999;
    display: block;
    background-image: url(assets/shared/chatjs.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 70px;
  } 
  #closeButton{
    width: 0px;
    position: relative;
    border-radius: 50%;
    right:-95%;
    background: none;
    top: -20px;
   }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    #contactPopup {
      display:none ;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 17, 0.959);
      padding: 20px;
      width: 60%;
      height: 66%;
      z-index: 1000;
    }
    input, textarea {
      color: aliceblue;
      padding: 5px;
      margin-top: 5px;
      background-color: rgba(0, 59, 136, 0.24);
      border-bottom: solid 1px wheat;
      border-radius: 5px 5px 0px 0px;
      height: 20px;
    }
    textarea{
      height: 20px;
    }
    label {
      margin-top: 20px;
      color: rgb(255, 255, 255);
    }
    button[type="submit"] {
      background-color: #010049f3;
      padding: 7px 10px;
      border-bottom: solid 1px wheat;
      border-radius: 5px 5px 0px 0px;
      margin-top: 20px;
      
    }
   #closeButton{
    width: 0px;
    position: relative;
    border-radius: 50%;
    right:-90%;
    background: none;
    top: -20px;
   }
   #button-contact{
    position: fixed;
    left: 93%;
    top: 91%;
    z-index: 999;
  display: block;
  background-image: url(assets/shared/chatjs.svg);
  background-repeat: no-repeat;
  width: 45px;
  height: 70px;
  }
  }

  @media (min-width: 992px) {

    #contactPopup {
      display:none ;
      position: fixed;
      left: 85%;
      top: 60%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 22, 0.952);
      padding: 20px;
      width: 25%;
      height: 65%;
      z-index: 1000;
      transition: all .20s ease-in;
    }
    
    input, textarea {
      color: aliceblue;
      padding: 5px;
      margin-top: 5px;
      background-color: rgba(0, 59, 136, 0.24);
      border-bottom: solid 1px wheat;
      border-radius: 5px 5px 0px 0px;
      height: 20px;
    }
    textarea{
      height: 20px;
    }
    label {
      margin-top: 20px;
      color: rgb(255, 255, 255);
    }
    button[type="submit"] {
      background-color: #010049f3;
      padding: 7px 10px;
      border-bottom: solid 1px wheat;
      border-radius: 5px 5px 0px 0px;
      margin-top: 20px;
      
    }
   #closeButton{
    width: 0px;
    position: relative;
    border-radius: 50%;
    right:-93%;
    background: none;
    top: -20px;
   }
   #button-contact{
    position: fixed;
    left: 94%;
    top: 92%;
    z-index: 999;
  display: block;
  background-image: url(assets/shared/chatjs.svg);
  background-repeat: no-repeat;
  width: 45px;
  height: 50px;
  }
 
  }

  @keyframes in {
      0%{
        opacity:.8;
        transform: scale(.8) rotate(-1deg);
      }
      100%{
        opacity: 1;
        transform: scale(1) rotate
      }
  }
 